<% @primary_heading = content_tag(:h1, link_to( @workout.name, :action => "show"), :id => "workout_name_#{@workout.id}" ) %>

<% @secondary_heading = content_tag :span, "Peak Power for #{nice_date(@workout.performed_on)}", :class => "larger", :id => "workout_date_#{@workout.id}" %>

<% @secondary_links = [
  { :text => 'Summary', :options => {:controller => 'workouts', :action => 'show', :id => @workout.id } }, 
  { :text => 'Graph', :options => {:controller => 'workouts', :action => 'graph', :id => @workout.id } }, 
  { :text => 'Peak Power', :options => {:controller => 'peak', :action => 'show', :id => @workout.id } } ] %>

<% if @sharing %>
<% @secondary_links.each {|l| l[:options].merge!({:user => @user.username})}  %>
<% end %>

<div id="main_wrapper">
  <div id="main">
    <% rounded_box nil, "complete", "full" do %> 
      <div class="container full">
        <% unless @workout.peak_powers.empty? %>
          <div id="plot" class="plot" style="height:400px;width:550px;">
            <div id="loader" style="padding-top: 150px; text-align:center">
            <%= image_tag("loader.gif") %><br/>
            Loading peak power graph.</div>
          </div>
        <% else %>
          <div class="left container full">
           <div class="highlight_box full">
             <br />
            <div class="large center">No peak power data available for this workout.</div>
            <br />
           </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <p style="text-align: center; color: green"><%= flash[:notice] %></p>
    <%= render :partial => 'common/back' %>

  </div>
</div>
<% sidebar_div_tag do %>
  <% rounded_box nil, "complete", "wide" do %>
  <div class="top">Peak Power</div>
   <% container "full" do %>
    <% unless @workout.peak_powers.empty? %>
    <table border="0" cellspacing="0" cellpadding="3">
      <tr>
        <th colspan=2>This Workout</th> 
      </tr>
      <%= render :partial => 'peak_power', :collection => @workout.peak_powers %>
    </table>
    <p class="smaller">* Indicates a new all time best peak power.</p>
    <br />
    <% end %>
    <table border="0" cellspacing="0" cellpadding="3">
      <tr>
        <th colspan=2>All time best</th> 
      </tr>
      <%= render :partial => 'all_time_best', :collection => @all_time_best %>
    </table>
    
  <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag('flotr/flotr-0.1.0alpha', 'peak') %>

<script type="text/javascript">
  document.observe('dom:loaded', function(){
    var url = "<%= url_for(:action => 'show', :id => @workout.id, :format => 'json') %>"
    new Ajax.Request(url, {
   		method:'get',
   		onSuccess: function(transport){
   			var json = transport.responseText.evalJSON();
   			data_series = json.data_series
   			time_series = json.time_series

   			if(data_series){
   				$('plot').setStyle({'display':'block'});
           var f = drawPlot(data_series);
         }
   		}
   	});
  });
</script>

<script>
  document.observe('dom:loaded', function(){  
    if($('main').getHeight() < $('sidebar').getHeight()) {
      $('main_wrapper').setStyle({paddingBottom:$('sidebar').getHeight() - $('main').getHeight()});
    }
  })
</script>

