<% @primary_heading = content_tag(:h1, link_to( @workout.name, :action => "show"), :id => "workout_name" ) %>
<% @editable = true %>
<% @secondary_heading = content_tag :span, nice_datetime(@workout.performed_on), :class => "larger", :id => "workout_date" %>

<% @secondary_links = [
  { :text => 'Summary', :options => {:controller => 'workouts', :action => 'show', :id => @workout.id } }, 
  { :text => 'Graph', :options => {:controller => 'workouts', :action => 'graph', :id => @workout.id } }, 
  { :text => 'Peak Power', :options => {:controller => 'peak', :action => 'show', :id => @workout.id } } ] %>

<div id="main_wrapper">
  <div id="main">
    <div id="workout" class="list">
        <div class="container full">
          <fieldset>
            <legend class=larger>Notes</legend>  
            <div id="workout_notes" class="notes">
              <%= @workout.notes.empty? && "Edit to add notes." || @workout.notes %> 
            </div>
          </fieldset>
          <% if @workout.has_training_files? then %>
            <fieldset>
              <legend class="larger">Files</legend>
                <ul>
                  <%= render :partial => 'common/file', :collection => @workout.training_files %>
                </ul>
            </fieldset>
            <% if (@workout.markers.count > 1) then %>
              <fieldset>
               <legend>Intervals</legend>
                <table border="0" cellspacing="0" cellpadding="5">
                  <tr>
                    <th>&nbsp;</th>
                    <th>Duration</th>
                    <th>Power (W)</th>
                    <th>Energy (kJ)</th>
                    <th>Speed (<%=speed_units%>)</th>
                    <th>Cadence</th>
                    <th>Heartrate</th>
                  </tr>
                  <%= render :partial => 'common/interval', :collection => @workout.markers[1..-1] %>
                </table>
              </fieldset>
            <% end %>
          <% end %>
        </div>
      
    </div>
    <p style="text-align: center; color: green"><%= flash[:notice] %></p>
    <%= render :partial => 'common/back' %>

  </div>
</div>
<% content_tag :div, :id => "sidebar" do %>
  
  <% rounded_box nil, "complete", "wide" do %>
    <div class="top">Workout Details</div>
    <% container "full" do %>
      <%= render :partial => 'common/totals' %>
      <br />
      <%= render :partial => 'common/averages' %>
      <br />
      
      <%= render :partial => 'common/maximums' %>
      <br />
    <% end %>
  <% end %>
  
  <% if @workout.has_training_files? %>
    <%= render :partial => 'common/device_properties' %>
  <% end %>
  
  <%= render :partial => 'common/workouts/peaksware_trademark' %>

<% end %>

<script>
  document.observe('dom:loaded', function(){  
    if($('main').getHeight() < $('sidebar').getHeight()) {
      $('main_wrapper').setStyle({paddingBottom:$('sidebar').getHeight() - $('main').getHeight()});
    }
  })
</script>

