<div class="container half">
  <% rounded_box 'Sign In', "complete", "wide" do %>
    <% container "full" do %>
      
      <% form_for :sessions, :url => sessions_path do %>
        <label for="username">Username:</label><br/>
        <%= text_field "user", "username" %><br/><br/>

        <label for="password">Password:</label><br/>
        <%= password_field "user", "password" %><br/><br/>

        <%= submit_tag "Sign In" %>
      <% end %>
      <%= set_focus_for('user_username') %>
      
    <% end %>
  <% end %>
  <p style="text-align: center; color: green"><%= flash[:notice] %></p>
</div>

