  <div class="container half">
    <% rounded_box 'Change Password', "complete", "wide" do %>
      <% container "full" do %>
        
        <% form_for :password_change, :url => {:action => 'create'} do |f| %>

          <label for="current_password">Current Password:</label><br/>
          <%= password_field "user", "current_password", :size => 30 %><br/><br/>

          <label for="password">New Password:</label><br/>
          <%= password_field "user", "password" %><br/><br/>

          <label for="password_confirmation">New Password confirm:</label><br/>
          <%= password_field "user", "password_confirmation" %><br/><br>

          <%= submit_tag "Change Password" %>
        <% end %>
        <%= set_focus_for('old_password') %>
        <%= error_messages_for 'user' %>
        
      <% end %>
    <% end %>
    <p style="text-align: center; color: green"><%= flash[:notice] %></p>
  </div>
