     <tr class = "<%= cycle('even', 'odd', :name => 'class') -%>" >
        <td><%= article.title %></td>
        <td><%= article.category %></td>
        <td><%= truncate article.body %></td>
        <td><%= nice_date_short article.created_at %></td>
        <td width="200px">
          <%= link_to 'Edit', :action => 'edit', :id => user.id %>
          <%= link_to(
            image_tag("delete.png"), :action => 'destroy', :id => article.id,  :confirm => 'Are you sure?', :method => :delete) %>
        </td>
      </tr>
