<div id="main">
  <%= render(:partial => 'common/secondary', :locals => { :header => edit_article_header, :navigation => options_for_edit_admin_article_navigation(@article) } ) %>
  <% rounded_box nil, "complete", "half" do %>
    <% container "full" do %>
      <% form_for([:admin, @article]) do |f| %>
        <%= f.error_messages %>
        <fieldset>
          <legend>Edit Article</legend>
          <label for="title">Title:</label><br/>
          <%= f.text_field :title%><br/><br/>

          <label for="title">Permalink:</label><br/>
          <%= f.text_field :permalink%><br/><br/>

          <label for="body">Body:</label><br/>
          <%= f.text_area :body %><br/><br/>
          
          <label for="category">Category:</label><br/>
          <%= f.select :category, Article::CATEGORIES %><br/><br/>
          
        </fieldset>
        
        <p>
          <%= f.submit "Update" %> | <%= link_to 'cancel.', admin_articles_path %>
        </p>
      <% end %>      
    <% end %>

  <% end %>

</div>