<div id="main_wrapper">
  <div id="main">
    <%= render(:partial => 'common/secondary', :locals => {:header => workout_header(@workout), :navigation => options_for_workout_navigation(@workout), :editable => true }) %>
    <% rounded_box nil, "complete", "full" do %> 

      <% if @user.preferences[:graph]  %>
        <% content_tag :div,   :id => "plot_wrapper" do %>
          <% if @workout.has_training_files? %>
            <div class="zoom">   
              <a href="#" id='zoom_reset' class='small' onClick="return false;">Zoom Out</a>&nbsp;
            </div>
            <div class="container complete">
              <div id="plot" class="plot" style="height:400px; width:700px">
                <div id="loader" style="padding-top: 150px; text-align:center">
                <%= image_tag("loader.gif") %><br/>
                Loading graph.</div>
              </div>
            </div>
            <div id="graph_summary" >      
              <table border="0" cellspacing="0" cellpadding="3" id="graph_labels">
                <tr>
                  <td align="center">Time : <span id="selected_time">00:00:00</span></td>
                </tr>
              </table>
            </div>
            <br/>
            <p class="smaller right">Note: Click and drag to see more detail.</p>
            <%= javascript_include_tag('flotr/flotr-0.1.0alpha', 'graph') %>
            
            <script type="text/javascript">
              var url = "<%= workout_graph_path(@workout, :format => :json, :params => @user.preferences[:graph]) %>";
              loadWorkoutPlot(url);
            </script>
                        
          <% else %>
            <div class="container full">
              <br/>
              <div class="highlight_box full">
                <br />
                <div class="large center">No graph data available for this workout.</div>
                <br />
              </div>
              <br/>
            </div>
          <% end %>
        <% end %>
        
      <% else %>
        <div class="center container half">
         <div class="highlight_box full">
          <br />
          <span class="large">You have not selected anything to graph.</span>
          <h2><%= link_to "Update your preferences.", :controller => "preferences", :action => "index" %></h2>
          <br />
         </div>
        </div>
      <% end %>
    <% end %>
    <%= render :partial => 'common/back' %>
  </div>
</div>

<% content_tag :div, :id => "sidebar" do %>
  
  <% rounded_box nil, "complete", "wide" do %>
    <%= render :partial => 'common/workouts/graph_markers'%>
  <% end %>
  
<% end %>