<tr class = "<%= cycle('even', 'odd', :name => 'class') -%>" >
  <td>
    <%= interval.comment.empty? && "#{(interval_counter + 1).to_s}." || interval.comment  %>
  </td>
  <td>
    <%= nice_duration(interval.duration) %>
  </td>
  <td>
    <%= interval.average_power %>/<%= interval.maximum_power %>
  </td>
  <td>
    <%= interval.energy %>
  </td>
  <td>
    <%= format_speed(interval.average_speed) %>/<%= format_speed(interval.maximum_speed) %>
  </td>
  <td>
    <%= interval.average_cadence %>/<%= interval.maximum_cadence %>
  </td>
  <td>
    <%= interval.average_heartrate %>/<%= interval.maximum_heartrate %>
  </td>

</tr>