<% @heading = content_tag :span, "User preferences.", :class => "larger" %>

<div id="main">
  <%= render(:partial => 'common/secondary') %>
  <% rounded_box nil, "complete", "half" do %>
    <% container "full" do %>
      <% form_for :preferences, @user.preferences, :url => preferences_path, :html => {:method => :put} do |f| %>
        <%= render :partial => 'user_account' %>

        <%= render :partial => 'interface' %>

        <%= render :partial => 'file_upload' %>
        
        <%= render :partial => 'physical_stats' %>

        <%= render :partial => 'graphing' %>

        <%= render :partial => 'sharing' %>

      <%= submit_tag "Update" %>
      <br /><br />
      <%= set_focus_for('user_username') %>
      <% end %>
    <% end %>
  <% end %>
</div>




