<% if session[:admin] && @user %>
<div id="toolbar" style="text-align:right; padding:5px 15px; margin:0; position:absolute; top:5px; right:35px" class="smaller">
  Signed in as <%= @user.preferences[:display_name] %>
  (<%= link_to('Signout', :controller => 'user', :action => 'signout') %>)
</div>
<% end %>

<div id="navigation">
  <% unless session[:admin] %>
    <ul>
      <%= navigation_item 'Home', root_url%>
    </ul>
  <% else %>

    <ul>
      <%= navigation_item 'Home', root_url%>
      <%= navigation_item_for_controller 'Users',  {:controller => 'users'}%>
      <%= navigation_item 'Signout',  {:controller => 'session', :action => 'destroy'}%>      
    </ul>        
  <% end %>
    </div>
