<tr <%= if period_counter.odd? then "class=even" end %>>
  <td align="right"><%= period_in_words period[:type], period[:period] %></td> 
  <td><%= nice_duration(period[:duration]) %></td>  
  <td><%= format_distance(period[:distance], :include_units => true) %></td>
  <td><%= period[:energy] %> kJ</td>
</tr>