<% @primary_heading = content_tag(:h1, link_to( @workout.name, :action => "show"), :id => "workout_name_#{@workout.id}" ) %>

<% @secondary_heading = content_tag :span, "Peak Power for #{nice_date(@workout.performed_on)}", :class => "larger", :id => "workout_date_#{@workout.id}" %>

<% @heading = content_tag :span, @workout.name, :class => "larger", :id => "workout_name" %>

<% @links = [
  { :text => 'Summary', :path => workout_path(@workout) }, 
  { :text => 'Graph', :path => workout_graph_path(@workout) }, 
  { :text => 'Peak Power', :path => workout_peak_power_path(@workout) } ] %>

<div id="main_wrapper">
  <div id="main">
    <%= render(:partial => 'common/secondary') %>
    <% rounded_box nil, "complete", "full" do %> 
      <div class="container full">
        <% unless @workout.peak_powers.empty? %>
          <div id="plot" class="plot" style="height:400px;width:550px;">
            <div id="loader" style="padding-top: 150px; text-align:center">
            <%= image_tag("loader.gif") %><br/>
            Loading peak power graph.</div>
          </div>
        <% else %>
          <div class="container complete">
            <br />
            <div class="highlight_box full">
              <br />
              <div class="large center">No peak power data available for this workout.</div>
              <br />
            </div>
            <br/>
          </div>
        <% end %>
      </div>
    <% end %>
    <p style="text-align: center; color: green"><%= flash[:notice] %></p>
    <%= render :partial => 'common/back' %>

  </div>
</div>
<% sidebar_div_tag do %>
  <% rounded_box nil, "complete", "wide" do %>
  <div class="top">Peak Power</div>
   <% container "full" do %>
    <% unless @workout.peak_powers.empty? %>
    <div class="twoColumn">
      <table border="0" cellspacing="0" cellpadding="3">
        <tr>
          <th colspan=2>This Workout</th> 
        </tr>
        <%= render :partial => 'peak_power', :collection => @workout.peak_powers %>
      </table>
    </div>
    <p class="smaller">* Indicates a new all time best peak power.</p>
    <br />
    <% end %>
    <div class="twoColumn">
      <table border="0" cellspacing="0" cellpadding="3">
        <tr>
          <th colspan=2>All time best</th> 
        </tr>
        <%= render :partial => 'all_time_best', :collection => @all_time_best %>
      </table>
    </div>
  <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag('flotr/flotr-0.1.0alpha', 'peak') %>

<script type="text/javascript">
  document.observe('dom:loaded', function(){
    var url = "<%= workout_peak_power_path(@workout, :format => :json) %>"
    loadPeakPowerPlot(url);
  });
</script>

<script>
  document.observe('dom:loaded', function(){  
    if($('main').getHeight() < $('sidebar').getHeight()) {
      $('main_wrapper').setStyle({paddingBottom:$('sidebar').getHeight() - $('main').getHeight()});
    }
  })
</script>
