<div class="container full">

<div class="highlight_box complete"><div class="container full"><h1>Take a tour of Interval.</h1></div></div>
  <div class="screenshot">
    <h2>File Upload</h2>    
    <%= content_tag :div, image_tag("tour/upload.png") %>
    <ol>
     <li>Select a <%= link_to "supported file", support_permalink_path("supported_devices") -%> and upload your workout.</li>
     <li>You may also manually add workouts.</li>
    </ol>
  </div>
  
  <div class="screenshot">
    <h2>Workouts</h2>
    <%= content_tag :div, image_tag("tour/list.png") %>
    <ol>
     <li>View a summary of your latest workouts.</li>
     <li>Sort by name or date.</li>
     <li>Quickly see your latest workouts.</li>
    </ol>
  </div>

  <div class="screenshot">
    <h2>Workout Details</h2>
    <%= content_tag :div, image_tag("tour/show.png") %>
    <ol>
     <li>View details of a particular workout.</li>
     <li>View each interval that you performed during the workout.</li>
     <li>Download the original file.</li>
    </ol>
  </div>

  <div class="screenshot">
    <h2>Workout Graph</h2>
    <%= content_tag :div, image_tag("tour/graph.png") %>
    <ol>
     <li>Visualize data from your workout.</li>
     <li>Position your mouse over the graph to see power data at particular time.</li>
     <li>Click and drag the graph to see more detail.</li>
    </ol>
  </div>

  <div class="screenshot">
    <h2>Peak Power Analysis</h2>
    <%= content_tag :div, image_tag("tour/peak_power.png") %>
    <ol>
     <li>View peak power for your workout.</li>
     <li>See how this workout compares to your all time best.</li>
    </ol>
  </div>

  <div class="screenshot">
    <h2>Training Summary</h2>
    <%= content_tag :div, image_tag("tour/summary.png") %>
    <ol>
     <li>View weekly and monthly totals.</li>
     <li>View total ride time, distance, and energy(kJ).</li>
     <li>Compare your current values to those of last week and last month.</li>
    </ol>
  </div>


  <div class="screenshot">
    <h2>Share your Workouts</h2>
    <%= content_tag :div, image_tag("tour/shared.png") %>
    <ol>
     <li>Turn on sharing and let others view your workouts.</li>
     <li>Share your workouts with a personal link or an ATOM feed.</li>
     <li>Others have a similar view that you do of your data.</li>
    </ol>
  </div>

</div>