<div id="footer" class="smaller">
  <ul>
    <li>&copy;2008 <%= link_to "Digital Terrific, LLC", 'http://digitalterrific.com' %></li>
    <li>|</li>
    <li><%= link_to "Terms of Service", :controller => 'site', :action => 'terms' %></li>
    <li>|</li>
    <li><%= link_to "Privacy Policy", :controller => 'site', :action => 'privacy_policy' %></li>
    <li>|</li>
    <li><%= link_to "Twitter", "http://twitter.com/intervalapp" %></li>
    <li>|</li>
    <li><%= link_to "Support", :controller => 'support' %></li>
  </ul>
</div>