<% @primary_heading = link_to content_tag(:h1, "Workouts"), :action => "index" %>

<div class="left container full">
 <div class="highlight_box half center">
  <h2>Limit reached.</h2>
  <div class="large center">
    You have reached the number of workouts
    <% if @user.subscription.plan.paid? -%>
      (<%= @user.subscription.plan.workout_limit -%>/<%= @user.subscription.plan.limit_by -%>)
    <% else -%>
      <%= @user.subscription.plan.workout_limit -%>
    <% end -%>
    for this plan.
  </div>
    

  <h2 class="center"><%= link_to "Upgrade your plan.", :controller => 'site', :action => 'plans'%></h2>
 </div>
</div>

<%= render 'common/_back' %>