<html>
  <head>
    <title>Interval</title>
    <%= stylesheet_link_tag 'style' %>
  </head>
  <body>
    <span id="title">
     <%= link_to image_tag("interval.png"),  '/'  %>
    </span>
    <%= render(:partial => 'common/navigation') %>
    
    <div id="content">
      <div class="container full">
        <% if @primary_heading %>
          <div id="sub">
            <%= @primary_heading %>
            <div class="clear"></div>
          </div>
        <% end %>
        <div id="main">
          <%= @content_for_layout  %>
        </div>
      </div>
      <div class="clear"></div> 
    </div>
    <%= render :partial => 'common/footer' %>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-5706413-1");
      pageTracker._trackPageview();
    </script>
  </body>
</html>
