<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Interval</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'prototype' %>
  </head>
  <body>
    <span id="title">
     <%= link_to image_tag("interval.png"),  '/'  %>
    </span>
    <%= render(:partial => 'common/navigation') %>
    
    <div id="content">
      <div class="container full">
        <% if @primary_heading %>
          <div id="sub">
            <%= @primary_heading %>
            <div class="clear"></div>
          </div>
        <% end %>
        <div id="main">
          <%= @content_for_layout  %>
        </div>
      </div>
      <div class="clear"></div> 
    </div>
    <%= render :partial => 'common/footer' %>
    <%= render :partial => 'common/analytics' %>
  </body>
</html>
